PRIVATE_KEY=0x...
COSTON2_RPC_URL=https://coston2-api.flare.network/ext/C/rpc
EXPLORER_API_KEY=
FTSOV2_ADDRESS=0x3d893C53D9e8056135C26C8c638B76C8b60Df726
WFLR_ADDRESS=
FXRP_ADDRESS=
TEE_EXTENSION_REGISTRY=
TEE_MACHINE_REGISTRY=
